/* REGOLE GENERALI */
body{
  background-color: #ebebeb;
}

#lezioni, #steps, #why{
  background-color: #f9f9f9;
  margin: 50px auto;
  text-align: center;
}

/* TUTTI I BLOCCHI */
.row div{
  padding: 15px;
}

#lezioni .row div, #steps .row div{
  margin-bottom: 50px;
}

/* TUTTI I TITOLI */
h1{
  padding-top: 50px;
  text-transform: uppercase;
}

h3{
  padding: 15px;
}

/* TUTTE LE IMMAGINI */
.row img {
  display: block;
  margin: 20px auto 10px;
  height: 150px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* BLOCCO PERCHE */
#why hr{
  margin-top: 50px;
}

/* TUTTI I TITOLI */
h1{
  padding-top: 50px;
  text-transform: uppercase;
}

h3{
  padding: 15px;
}

/* TUTTE LE IMMAGINI */
.row img {
  display: block;
  margin: 20px auto 10px;
  height: 150px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* BLOCCO PERCHE */
#why hr{
  margin-top: 50px;
}
